$red: #E1202D;
$blue: #6ED1F2;
$white: #F3F2F5;
$orange: #F8AD40;
$darkblue: #046E91;

$big: 800;
$medium: 600;
$small: 400;

body {
	font-family: 'Lato', sans-serif;
	font-weight: $small;
}
h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: $big;
	font-size: 36px;
}
u { 
	text-decoration: none;
	border-bottom: 4px solid $red;
}
.navbar {
	min-height: 70px;
	background-color: $white;
}
.navbar-brand {
	padding-top: 7px;
}
.not-jumbo {
	padding: 0 0 0 0;
	max-height: 800px;
	color: $white;

		.carousel { 
			padding: 70px 0 0 0;
			z-index:-99;
		}

		img {
			width: 100%;
			max-height: 800px;
		}

		.myHeading {
			position: relative;
			bottom: 600px;
			left: 100px;
		}
}
.offers {
	height: 1000px;
	width: 100%;
	background-color: $blue;
}
